.grid{
  display: grid;
  grid-template-columns: repeat(12, 1fr); 
  grid-template-rows: repeat(12, 1fr);
  gap: 8px; 
  min-height: 100vh;
}

[class*="col-"] {
  padding: 8px;
  border: 1px solid #ccc;
  text-align: center;
}

.flex{
  display: block;
  width: 100%;
}


.row{
  display:flex;
  flex-wrap: wrap;
  background:greenyellow;
  
}

.grid{
  background: antiquewhite;
}
.grid *,
.flex .row * {
  background: lightblue;
  border: 1px solid #000000;
  margin-top: 10px;
}

/*Mobile*/
.grid * {
  grid-column: span 12;
}

/*Tablet*/
/*Completar*/
@media screen and (min-width: 769px){

  .grid .columns-11 {
    display: none;
    grid-column: span 4;
  }
  .grid  .columns-10 {
    display: none;
    grid-column: span 4;
  }
  .grid  .columns-9 {
    display: none;
    grid-column: span 4;
  }
  .grid  .columns-8 {
    grid-column: span 3;
    grid-row: span 3;
  }
  .grid  .columns-7 {
    grid-column: span 7;
    grid-row: span 4;
  }
  .grid .columns-6 {
    grid-column: span 2;
    grid-row: span 2;
  }
  .grid  .columns-5 {
    grid-column: span 12;
    grid-row: span 2;
  }
  .grid .columns-4 {
    grid-column: span 12;
    grid-row: span 2;
  }
  .grid .columns-3 {
    grid-column: span 4;
    grid-row: span 2;
  }
  .grid .columns-2 {
    grid-column: span 4;
    grid-row: span 2;
  }
  .grid .columns-1 {
    grid-column: span 4;
    grid-row: span 2;
  } 
}


/*Desktop*/
@media screen and (min-width: 1280px){

  .grid .columns-11 {
    display: none;
    grid-column: span 4;
  }
  .grid  .columns-10 {
    display: none;
    grid-column: span 4;
  }
  .grid  .columns-9 {
    display: none;
    grid-column: span 4;
  }
  .grid  .columns-8 {
    grid-column: span 12;
    grid-row: span 2;
  }
  .grid  .columns-7 {
    grid-column: span 4;
    grid-row: span 6;
  }
  .grid .columns-6 {
    grid-column: span 8;
    grid-row: span 6;
  }
  .grid  .columns-5 {
    grid-column: span 6;
    grid-row: span 2;
  }
  .grid .columns-4 {
    grid-column: span 6;
    grid-row: span 2;
  }
  .grid .columns-3 {
    grid-column: span 6;
    grid-row: span 2;
  }
  .grid .columns-2 {
    grid-column: span 3;
    grid-row: span 2;
  }
  .grid .columns-1 {
    grid-column: span 3;
    grid-row: span 2;
  } 
}